{{#each blogposts}}
<div class="card" style="width: 50%;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{User.username}}</h6>
    <p class="card-text">{{content}}</p>
    <p class="card-text">{{createdOn}}</p>
      {{#each Comments}}
    <p class="card-text">{{comment}}</p>
    <p class="card-text">Commented by: {{User.username}}</p>
      {{/each}}
    </div>
</div>
{{/each}}

